body {
    margin: 0;
    background-color: #fefefe;
}

/* Text */

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    font-family: 'VT323', monospace;
}
h6 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}
li::marker {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'VT323', monospace;
}
p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01rem;
    line-height: 1.36rem;
}
a {
    text-decoration: none;
    color: #c4ced6;
    font-weight: 200;
    font-family: 'DM Sans', sans-serif;
    transition: 0.3s;
}
a:hover {
    color: #f8f8ff;
}
.darkify {
    color:#121214;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.darkify:hover {
    color: #0073cf;
}
.reference {
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    letter-spacing: -0.2px;
    color: #3b3c36;
}
.l-reference {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    line-height: 0.7rem;
    letter-spacing: -0.2px;
    color: #3b3c36;
}
.xl-reference {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.3px;
    color: #3b3c36;
}

/* Navigation */
.header {
    background-color: #121214;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
}
.menu {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.nav {
    margin: 0 auto;
    height: 2.9rem;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    margin: 0 0.6rem;
}
.menu-toggle {
    display: none;
    cursor: pointer;
}
.btn-contact {
    display: flex;
    align-items: center;
    border: 0.08rem solid #fefefe;
    background-color: #121214;
    border-radius: 2rem;
    padding: 0.5rem 1.8rem;
    transition: 0.3s;
}
.btn-contact:hover {
    background-color: #3b3c36;
}
.social {
    display: flex;
    align-items: center;
    line-height: 0.8rem;
}


/* Content */
.content {
    margin: 0 auto;
    padding: 4rem 1rem;
}
.banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
    background: linear-gradient(to bottom, #f8f8ff, #c4ced6 );
}
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82rem;
    padding: 1rem;
}
.banner-image {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.banner-text {
    width: 60%;
}
.section1-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
}
.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}
.featured-links {
    width: 60%;
}
.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #c4ced6;
}
.feature h3 {
    font-size: 1.2rem;
    line-height: 0.6rem;
    margin: 1.4rem 0 0 0;
    letter-spacing: 0.2px;
}
.feature h6 {
    font-size: 0.8rem;
    letter-spacing: -0.1px;
    margin-bottom: 0.8rem;
    color: #36454f;
}
.feature p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
    letter-spacing: -0.1px;
}
.ikiboi {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}
.ikiboi img {
    padding-bottom: 0.2rem;
}
.feature-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.feature-text {
    width: 65%;
}
.featured-quote-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
    background: linear-gradient(to bottom, #36454f, #121214 );
}
.featured-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 62rem;
    padding: 1rem;
}
.featured-quote h3 {
    color: #f8f8ff;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
}
.featured-quote p {
    color: #c4ced6;
    font-size: 1.2rem;
    letter-spacing: -0.1px;
    text-align: right;
}
.footer-container {
    background-color: #121214;
}
.foot {
    background-color: #121214;
    padding: 4.8rem 0 0 0;
    text-align: center;
    margin: auto;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 2em;
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.65rem;
}
.footer-social {
    margin-bottom: 2em;
}
.footer h3 {
    color: #c4ced6;
}
.footer p {
    color: #c4ced6;
}
.footer-copyright {
    padding: 2rem 0;
}



/* Image */
.portrait {
    max-width: 75%;
}
.thumb {
    max-width: 96px;
    max-height: 96px;
}

@media (max-width: 38rem) {
    .menu {
        display: none;
    }
    .menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 3.6rem;
        min-width: 100%;
        background-color: #121214;
        color: #fff;
        padding: 1.2rem;
        text-align: center;
    }
    .nav {
        position: relative;
        justify-content: space-around;
    }
    nav ul {
        display: none;
    }
    .menu li {
        margin: 0.3rem 0;
    }
    .menu-toggle {
        display: block;
    }
    .kill-mob {
        display: none;
    }
    .banner {
        flex-direction: column;
    }
    .portrait {
        max-width: 100%;
    }
    .section1 {
        flex-direction: column;
    }
    .feature {
        gap: 2.4rem;
    }
    .feature h3 {
        line-height: 1.4rem;
    }
}

@media (min-width: 39rem) {
    .foot {
        display: grid;
        padding: 12rem 0 0 0;
        width: 72rem;
        grid-template-columns: repeat (7, 1fr);
        grid-template-rows: repeat (2, 1fr);
        grid-template-areas:
            "logo logo links1 links1 links2 social social"
            "logo logo links1 links1 links2 social social"
            "co co co co co co co";
    }
    .footer-logo {
        text-align: left;
        grid-area: logo;
    }
    .footer-social {
        grid-area: social;
    }
    .footer-social img {
        width: 2em;
        height: 2em;
    }
    .footer-copyright {
        grid-area: co;
    }
    .col1 {
        grid-area: links1;
    }
    .col2 {
        grid-area: links2;
    }
}

@media (min-width: 62rem) {
    .content {
        max-width: 62rem;
    }
}